* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

}
.blog {
	width: 500px;
	margin: 100px auto;
}
.blog__title {
	margin: 0 auto 20px;
	padding: 0;
	text-align: center;
}

.article {
	border: solid 1px #CCC;
}
.article + .article {
	margin: 30px auto 0;
}
.article__title {
	margin: 0;
	padding: 15px 5px 15px 20px;
	background-color: #48d0b0;
}
.article__text {
	padding: 20px;
}
.article__comments {
	margin: 20px;
}
.article__comment {
	border: solid 1px #CCC;
}
.article__comment + .article__comment {
	margin: 20px auto 0;
}
.article__commentName {
	margin: 0;
	padding: 5px 5px 5px 10px;
	background-color: #CCC;
}
.article__commentText {
	padding: 5px 5px 5px 10px;
}
.article__data {
	text-align: right;
	margin: 0 20px 20px 0;
}
.article__addComment {
	color: #216958;
}

/*
フォーム関連
*/
.article__post {
	margin: 20px;
}
.article__postSet p {
	margin: 0;
}
.article__postSet p + p{
	margin: 5px auto 0;
}
.article__postSet + .article__postSet {
	margin: 30px auto 0;
}
.article__postSet input[type="text"] {
	padding: 5px;
}
.article__postSet textarea {
	padding: 5px;
	height: 100px;
}
.article__submit {
	padding: 10px 20px;
	border:solid 1px #797979;
	background-color: #ccc;
	border-radius: 5px;
	cursor: pointer;
}
.article__error {
	color: red;
}